<!DOCTYPE html>
<html>
<head>
<title>Exemplo ERB</title>
</head>
<body>
<div class="container">
<%if @user.present?%>
<h1>Bem-vindo,<%=@user.name%>!</h1>
<%@posts.each do |post|%>
<article class="post">
<h2><%=post.title%></h2>
<p><%=post.content%></p>
<%if post.comments.any?%>
<div class="comments">
<h3>Comentários:</h3>
<%post.comments.each do |comment|%>
<div class="comment">
<strong><%=comment.author%>:</strong>
<%=comment.body%>
</div>
<%end%>
</div>
<%end%>
</article>
<%end%>
<%else%>
<p>Faça login para ver os posts</p>
<%end%>
</div>
<%# Este é um comentário ERB %>
</body>
</html>
