<div class="level-1">
  <% @collection_1.each do |item_1| %>
    <div class="level-2" data-id="<%= item_1.id %>">
      <h2><%= item_1.title %></h2>
      
      <% if item_1.children.any? %>
        <ul class="level-3">
          <% item_1.children.each do |item_2| %>
            <li>
              <%= link_to item_2.name, item_path(item_2) %>
              
              <% if can? :edit, item_2 %>
                <div class="actions level-4">
                  <%= form_with model: item_2,
                                url: update_item_path(item_2),
                                method: :patch do |f| %>
                    <% if item_2.metadata.present? %>
                      <%= f.fields_for :metadata do |meta_f| %>
                        <% item_2.metadata.keys.each do |key| %>
                          <div class="field level-5">
                            <%= meta_f.label key %>
                            <%= meta_f.text_field key,
                                                 value: item_2.metadata[key],
                                                 class: "input" %>
                            
                            <% if item_2.validations[key].present? %>
                              <ul class="validations level-6">
                                <% item_2.validations[key].each do |rule| %>
                                  <li class="<%= rule[:status] %>">
                                    <%= rule[:message] %>
                                  </li>
                                <% end %>
                              </ul>
                            <% end %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                    
                    <%= f.submit "Save", class: "btn" %>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="empty-state">No children found</p>
      <% end %>
    </div>
  <% end %>
</div>

